


<nav class="text-current transition-colors duration-300">
  <ul class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
    <li data-menu-backdrop>
      <a href="#">Vehicles</a>
    </li>
    <li data-menu-backdrop>
      <a href="#">Energy</a>
    </li>
    <li data-menu-backdrop>
      <a href="#">Charging</a>
    </li>
    <li data-menu-backdrop>
      <a href="#">Discover</a>
    </li>
    <li data-menu-backdrop>
      <a href="#">Shop</a>
    </li>
  </ul>
</nav>